:root {
  --orange: hsl(25, 97%, 53%);
  --white: hsl(0, 0%, 100%);
	--grey-100: hsl(217, 12%, 63%);
	/* This color didn't look right */
	--grey-500: hsl(216, 12%, 54%);
	/* So I turned the hsl to rgba */
	--grey-500-a: rgba(124, 135, 152, .1);
	--blue-500: hsl(213, 19%, 18%);
	--blue-900: hsl(216, 12%, 8%);
}

body {
	font-family: 'Overpass', sans-serif;
}

h1 {
	color: var(--white);
	font-weight: 700;
	font-size: 25px;
}

/* I kept trying to get the sentences to line up like they do in the sample photo. But I couldn't get it. */
.graph {
	font-size: 15px;
	color: var(--grey-100);
  padding: 1em 0;
  letter-spacing: .1em;
  line-height: 1.3em;
}

.starCircle {
	padding: .7em;
	background-color: var(--grey-500-a);
	border-radius: 50%;
  margin-bottom: 1em;
}

/* The cirle doesn't look right with the same padding all the way around,
like with the star. So I'm putting different on the sides than on the top and bottom */
.circle {
	padding: .7em 1em;
	background-color: var(--grey-500-a);
	border-radius: 50%;
}

.circle:hover {
  cursor: pointer;
  background-color: var(--orange);
  color: var(--white);
}

.circle:active {
  background-color: var(--grey-500);
}

.wrapper {
	height: 100vh;
	background-color: var(--blue-900);
	display: flex;
	align-items: center;
	justify-content: center;
}

.rateWrapper {
	background-color: var(--blue-500);
	width: 300px;
	height: auto;
	padding: 1.5em;
  border-radius: 8px;
}

.numbers {
	display: flex;
	justify-content: space-between;
  padding-bottom: 1em;
}

.number {
	color: var(--grey-100);
}

button {
	width: 100%;
	border-radius: 25px;
	background-color: var(--orange);
  color: var(--white);
	padding: .7em;
  letter-spacing: .1em;
  border: none;
}

.btnLink {
  color: var(--white);
  text-decoration: none;
}

.btnLink:hover {
  color: var(--orange);
}

button:hover {
  cursor: pointer;
  background-color: var(--white);
  color: var(--orange);
}


/*==============================================
              Thank You Page
==============================================*/


.thankYouWrapper {
  background-color: var(--blue-500);
	width: 300px;
	height: auto;
	padding: 1.5em;
  border-radius: 8px;
  text-align: center;
}

.thankYouWrapper img {
  padding: 1em;
}

.thankYouWrapper h1 {
  padding-top: 1.3em;
}

.rateInput {
  width: 60%;
  margin: auto;
  padding: .7em .5em .5em .5em;
  background-color: var(--grey-500-a);
  color: var(--orange);
  border-radius: 25px;
}





/* Media Query Desktop:1440px | Mobile: 375px */
